@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

@import './modules/_variables.scss';
@import './modules/_mixins.scss';

html, body{
    font-family: 'Source Sans Pro', sans-serif;
    margin:0px;
}
figure{
    position: relative;
    max-height: 100%;
    margin: 0px;
    figcaption{
        @include caption;
    }
    img{
        
    }
    
}

.full-height{
    min-height: 100vh;
}
.btn{
    padding: $large-padding;
    position: relative;
    color: $black !important;
    text-decoration:none;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-sizing: border-box;
    &:before{
        content: '';
        position: absolute;
        width:100%;
        left:0;
        bottom:0;
        height: 40%;
        background: $lightblu2;
        z-index:-1;
        transition: all 0.15s ease-out;
    }
    &:hover::before{
        height: 100%;
    }
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  
}
.menu{
        position:fixed;
        top:1.8em;
        right:2em;
        font-size:30px;
    /* opcional ---  */
        border-radius:50%;
        height: 60px;
        width: 60px;
        @include center-vertical-horizontal;
        border:solid 1px $drkblue3;
        background: white;
        @include transition;
        transition-duration: 0.16s;
        cursor: pointer;
        z-index:999;
        &:hover{
            background: $lightblu2;
        }
}
.menu-screen{
    background-color: white;
    height: 100vh;
    width:100vw;
    position:fixed;
    z-index:2000; /* quitar esta linea / es opcional */
    top:-101vh;
    @include center-vertical-horizontal;
    @include transition;

    .close{
        position: absolute;
        top:3.5em;
        right:4em;
        cursor: pointer;
        @include center-vertical-horizontal;

        img{
            height: 30px;
        }
        &:active{
            
        }
    }

    &.active{
        top:0;
    }
    a{
        display: block;
        text-decoration: none;
        @include text-center;
        position: relative;
        margin-top:1em;
        &:first-of-type{
            margin-top:0;
        }
        .main{
            display: block;
            font-size: 2em;
            color:$lightblu2;
        }
        span:not(.main){
            color:$lightred;
            opacity: 0;
            @include transition;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
        }

        &::after{
            content: '';
            position: absolute;
            top: 1.2em;
            left:0;
            width: 0%;
            height: 2px;
            background-color: $drkblue3;
            @include transition;
            transition-duration: 0.3s;
            // transform: scale(0);
        }
        &:hover span.main{
            color: $drkblue3;
        }

        &:hover::after{
            // transform: scale(1);
            width: 100%;

        }
        &:hover span:not(.main){
            opacity: 1;
        }
    }
}

.grid-main-area{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    margin-top:$big-margin-top;
    margin-bottom:$big-margin-top;
    grid-template-areas:
     "title title  title title title title title  title title"
     "image image  image image  image image  image image  image";
     .text{
        // grid-column:2 / 5;
      grid-area: title;

      @include main-text;
      margin-right: 20px;
    }
    
    .image{
        // grid-column-start:5 ;
        // grid-column-end:12 ;
        grid-area: image;
    }
    .image img{
        width: 100%;
        min-width: 300px;
        max-width: 100%;
    }
    
}

.container{
    grid-column: span 12;
    padding: $big-padding;
    // grid-column: 2 / 12;
}

.cover{
    @include absolute-cover;
    min-height: 400px;
    background-size: cover;
    background-position: center;

    &.parallax{
        background-attachment: fixed;
        background-image:url(../../public/images/bg2.jpg);
        // background-image:url(../../public/images/bg1.jpg);
        position: relative;
        p{
           @include caption;
           background: rgba($darkblue, 0.4);
           display: block;
           width: 100%;
           box-sizing: border-box;
           left: 0px;
           @include text-right;
           span{
              display: block;
              font-size: 0.5em;
              font-weight: 200;
              margin-top: 6px;
           }
        }
    }   
}

.slider{
    .controls{
        text-align:right;
        margin-bottom: 10px;
        padding-right: 2em;
        display:none;
        .right-arrow,.left-arrow{
            height: 70px;
            // padding:0px 5px;
            @include transition;
            transition-duration: 0.15s;
            cursor: pointer;
            max-height: 100px;
            max-width:100px;
            &:hover{
                opacity: 0.5;
            }
           
        }
        .left-arrow{
            transform:rotate(180deg);
            margin-right:1.5em;
        }
    }
    .image{
        min-height: 100vh;
        display: flex;
        align-items: center;
        
    }
    header{
        background-color: $darkblue;
        color:$white;
        padding: $big-padding;
        transform: translateY(60px);
        width: 90%;
        box-sizing: border-box;
        margin:0 auto;
        z-index: 10;
        position: relative;
        h2{
            margin:0px;
        }
        .separator{
            text-align: right;
            padding-right: 150px;
            position: relative;
            color:$white;
            &::after{
                position: absolute;
                content: '';
                height: 3px;

                width: 140px;
                background: currentColor;
                top:0.7em;
                right:0px;
            }
        }
    }
}

#slider-text-content{
  @include transition;
    &.hide{
        opacity: 0;
        transform: translateX(100px);
    }
}

#Slider-image{
    @include transition;
    &.hide{
        opacity: 0;
    }
}

.mission{
    align-items: center;
 
    .container{
        @include main-text;
        font-size: 1.1em;

        figure{
            float:right;
            margin-left:20px;
        }
        p{
            line-height:2em;
            &:nth-of-type(1){
                margin-bottom:3em;
                position: relative;
                
                &::after{
                    content:'';
                    background:$darkblue;
                    position: absolute;
                    bottom: -1.5em;
                    height: 7px;
                    left:120px;
                    width: 80%;
                    z-index:-1;

                }
            }
        }
    }
}

#mapa{
    width:100%;
    min-height: 600px;
    margin-top: $big-margin-top;
}

.social{
    margin-top: $big-margin-top;
    margin-bottom: $big-margin-top;
    @include text-center;
    p.title{
        font-weight: 200;
        font-size: 2.5em;
    }
    a{
        display: block;
        max-width: 150px;
        margin: 1em auto;
    }
}

@media (min-width: 960px){
    .container
    {
        grid-column: 2 / 12;
        // grid-column: 2 / 12;
    }
    
    .grid-main-area{
        display: grid;
        grid-template-columns: repeat(9,1fr);
        grid-template-areas:
         "title title title  image image image image image";
    }

    .slider{
        align-items: center;
        header{
            transform: translateX(180px);
            // box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.5);
            width: 100%;
            min-height: 350px;

        }
    }
    .social{
        a{
            display: inline-block;
            margin-top:0;
            margin-right: 90px;

            &:last-of-type{
                margin-right: 0px;
            }
        }
    }
}